// Imports
@use './colors';
@use 'sass:math';

// Functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// Mixins
@mixin text($f-size, $f-weight) {
    font-size: converter($f-size);
    font-weight: $f-weight;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 0.4s;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: colors.$white;

    &:hover{
        color: colors.$detail;
    }
}

p{
    @include text(16, 400);
}