// Imports config
@use '../config/colors';
@use 'sass:math';

// Functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// Mixins
@mixin f-center($j-content, $a-items) {
    display: flex;
    justify-content: $j-content;
    align-items: $a-items;
}

@mixin text($f-size, $f-weight) {
    font-size: converter($f-size);
    font-weight: $f-weight;
}

// ---------------------------------------------------------------------------\\

#about {
    width: 100%;
    background-color: colors.$second-darken;

    >.container {
        @include f-center(center, center);
        flex-direction: column;

        img {
            width: 100%;
        }

        .content {
            @include f-center(center, center);
            flex-direction: column;
            padding: converter(16);

            h2,
            .title-section {
                text-align: end;
                width: 100%;
            }

            h2 {
                @include text(20, 700);
            }

            .title-section {
                @include text(24, 400);
                padding: converter(16) 0;
            }

            >p {
                text-align: justify;
            }

            .hero-about {
                padding: converter(16) 0;
                @include f-center(space-between, center);
                width: 100%;
                margin: converter(32) 0;
                position: relative;

                .amendoa {
                    width: converter(70);
                    height: converter(70);
                    position: absolute;
                    display: block;
                    background-color: colors.$detail;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                    right: 0;
                }

                .download {
                    z-index: 1;
                    @include f-center(end, center);
                    text-align: end;
                    width: 90%;

                    a {
                        @include text(18, 600);

                        &:hover {
                            color: colors.$white;
                        }
                    }
                }

                .seta {
                    width: 50%;
                    position: absolute;
                    top: -30px;
                    left: 30px;
                    text-align: start;
                    font-size: converter(70);
                    color: colors.$detail;
                }
            }
        }
    }
}

// ----------------------------MEDIA QUERIES----------------------------------\\
@media screen and (min-width: 768px) {
    #about {
        >.container {
            .content {
                .hero-about {
                    .download {
                        width: 95%;
                    }
                }
            }
        }
    }
}