// Imports config
@use '../config/colors';
@use 'sass:math';

// Functions
@function converter($px) {
    @return math.div($px, 16) * 1rem;
}

// Mixins
@mixin f-center($j-content, $a-items) {
    display: flex;
    justify-content: $j-content;
    align-items: $a-items;
}

@mixin text($f-size, $f-weight) {
    font-size: converter($f-size);
    font-weight: $f-weight;
}

// ---------------------------------------------------------------------------\\

#expert {
    background-color: colors.$primary;

    .container {
        width: 100%;

        img {
            width: 100%;
        }

        .content {
            padding: converter(16);
            width: 100%;

            h2 {
                text-align: star;
                @include text(24, 400);
            }

            h1 {
                text-align: start;
                @include text(32, 700);
                padding: converter(16) 0;
            }

            p {
                text-align: justify;
            }

            .hero {
                padding: converter(16) 0;
                @include f-center(space-between, center);
                width: 100%;
                margin: converter(32) 0;
                position: relative;

                .amendoa {
                    width: converter(70);
                    height: converter(70);
                    position: absolute;
                    display: block;
                    background-color: colors.$detail;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                }

                .contract {
                    z-index: 1;
                    @include f-center(center, center);
                    text-align: end;
                    width: 50%;
                    @include text(18, 600);
                }

                .seta {
                    width: 50%;
                    position: absolute;
                    bottom: -20px;
                    right: 50px;
                    text-align: end;
                    font-size: converter(70);
                    color: colors.$detail;
                }
            }

            .contact-expert {
                position: relative;
                @include f-center(center, center);
                flex-direction: column;

                .seta {
                    width: 50%;
                    position: absolute;
                    right: 0;
                    top: -80px;
                    text-align: end;
                    font-size: converter(70);
                    color: colors.$detail;
                }

                div {
                    width: 100%;

                    h3 {
                        margin: converter(20) 0 converter(8);
                        text-align: center;
                    }

                    .email {
                        @include f-center(center, center);
                        ;
                        text-align: center;
                    }

                    ul {
                        @include f-center(space-around, center);
                    }
                }
            }
        }
    }
}

// ------------------------------MEDIA QUERIES--------------------------------\\
@media screen and (min-width: 768px) {
    #expert {
        .container {
            .content {
                .hero {
                    .amendoa {
                        top: converter(-5);
                    }

                    .contract {
                        width: 25%;
                    }

                    div {
                        margin-bottom: converter(24);
                    }
                }
            }
        }
    }
}